<template>
    <div>
        <div id="map"></div>
        <div class="header">
            <img src="/images/logo.png" title="Экологическая карта">

            <div class="navigation">
                <a href="/">Главная</a>
                <a href="#" @click.prevent="about">О проекте</a>
                <a href="#" @click.prevent="news">Новости</a>
                <a href="#" @click.prevent="contacts">Контакты</a>
                <a href="#" @click.prevent="help">Инструкции</a>
            </div>

            <div class="select-region">
                Выберите регион:
                <select class="form-control" name="region_name" @change="selectRegionFromList">
					<option>Выбрать регион</option>
                    <option v-for="(region, index) in regions"
                            :data-id="region.id"
                            :value="index">{{ region.name }}</option>
                </select>
            </div>
        </div>
        <div class="body" :class="{ active: bodyActive }">
			<div class="body-filter" @click="showMain"></div>
            <transition name="slide-down">
                <div class="form" v-if="isFormShown()">
                    <a href="#" class="close" v-on:click.prevent="closeForm" ></a>

                    <transition name="slide-down" mode="out-in">
                        <loader v-if="loading"></loader>
                    </transition>

                    <request-form
                            v-on:success="successSent"
                            :placemark="placemark"
                            :point="point"
                            :address="address"
                            v-on:update-point="updatePoint"
                            v-on:close-form="closeForm"
                            v-on:show-agreement="agreement"
                            v-on:set-loading="setLoading"
                            v-on:update-address="updateAddress"></request-form>
                </div>

                <div class="form" v-if="isInfoShown()">
                    <a href="#" class="close" v-on:click.prevent="closeForm" ></a>

                    <request-info :item="item" v-on:close-form="closeForm"></request-info>
                </div>

                <div class="form" v-if="isRegionShown()">
                    <a href="#" class="close" v-on:click.prevent="closeForm" ></a>

                    <request-region :region="region" v-on:close-form="closeForm" v-on:create-request="showRequestForm"></request-region>
                </div>
            </transition>

            <transition name="slide-down">
                <template v-if="isAboutShown()">
                    <about v-on:show-main="showMain"></about>
                </template>
                <template v-if="isContactsShown()">
                    <contacts v-on:show-main="showMain"></contacts>
                </template>
                <template v-if="isExpertsShown()">
                    <experts v-on:show-main="showMain"></experts>
                </template>
                <template v-if="isHelpShown()">
                    <help v-on:show-main="showMain" v-on:open-helps="openHelps"></help>
                </template>
                <template v-if="isHelpItemShown()">
                    <help-show v-on:show-main="showMain" :item="helpItem" v-on:show-helps="help"></help-show>
                </template>
                <template v-if="isNewsShown()">
                    <news v-on:show-main="showMain" v-on:open-news="openNews"></news>
                </template>
                <template v-if="isNewsItemShown()">
                    <news-show v-on:show-main="showMain" :item="newsItem" v-on:show-news="news"></news-show>
                </template>
                <template v-if="isAgreementShown()">
                    <agreement v-on:show-main="showMain"></agreement>
                </template>
                <template v-if="success">
                    <div class="page">
                        <a href="#" class="close" @click.prevent="closeSuccessMessage" ></a>

                        <div class="thank-you" v-if="success">
                            <div>
                                <h1>Спасибо!</h1>
								<p>Вашему обращению присвоен номер {{ requestNumber }}</p>
								<p>Ваше обращение будет рассмотрено региональными модераторами в течение 2-х рабочих дней. После чего обращению будет присвоен статус  &laquo;на рассмотрении&raquo;, и оно появится на публичной карте.</p>
								<p>Сейчас Вы можете видеть свое обращение в виде серой метки на карте. После прохождения модерации она станет красной.</p>
								<p>Оповещения по статусу Вашего обращения будут высылаться на указанный Вами адрес электронной почты.</p>
							</div>
                        </div>
                    </div>
                </template>
            </transition>
        </div>

        <div class="footer">
            <div class="pull-left">
                <a href="http://onf.ru" target="_blank"><img src="/images/logo_onf.png" title="Общероссийский народный фронт"></a>

                <p class="credentials">
                    <strong>Генеральная уборка</strong><br>
                    Интерактивная карта свалок
                </p>
            </div>

            <div class="socials pull-right">
                Мы в соц. сетях:

                <a href="https://vk.com/ecoonf" target="_blank"><img src="/images/vk.png" ></a>
                <a href="https://www.facebook.com/ecoonf/" target="_blank"><img src="/images/facebook.png" ></a>
                <a href="https://twitter.com/ecoonf" target="_blank"><img src="/images/twitter.png" ></a>
                <a href="https://ok.ru/ecoonf" target="_blank"><img src="/images/ok.png" ></a>
                <a href="https://www.youtube.com/channel/UCsjCX2e5ywz-arCPN6_C-tQ" target="_blank"><img src="/images/youtube.png" ></a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function() {
            return {
                page: null,
                loading: false,
                state: null,
                placemark: null,
                success: false,
                requests: [],
                item: null,
                busy: true,
                ymap: null,
                region: null,
                lastCollection: 0,
                lastActiveRegion: 0,
                activeUser: false,
				newsItem: null,
				helpItem: null,
                regions: [],
				regionColors: [],
                currentRequest: false,
                currentPoint: '55.76,37.64',
                currentRegion: false,
				bodyActive: false,
				requestNumber: null,
				point: '',
                address: ''
            }
        },
        methods: {
            showRequest() {},
            showRequestForm() {
                this.busy = false;
                this.state = 'form';
            },
            isFormShown() {
                return 'form' == this.state && ! this.success;
            },
            isInfoShown() {
                return 'info' == this.state;
            },
            isRegionShown() {
                return 'region' == this.state;
            },
            isAboutShown() {
                return 'about' == this.page;
            },
            isContactsShown() {
                return 'contacts' == this.page;
            },
			isExpertsShown() {
				return 'experts' == this.page;
			},
			isHelpShown() {
				return 'help' == this.page;
			},
			isHelpItemShown() {
				return 'help-show' == this.page;
			},
			isNewsShown() {
                return 'news' == this.page;
            },
            isNewsItemShown() {
                return 'news-show' == this.page;
            },
            isMapShown() {
                return null == this.page;
            },
            isAgreementShown() {
            	return 'agreement' == this.page;
            },
			bodyClass(active) {
				this.bodyActive = (active) ? true : false;
			},
            setLoading(loading_status){
            	this.loading = loading_status;
            },
            successSent(id) {
                const parent   = this;
                this.state     = null;
                this.placemark = null;
				this.requestNumber = id;

				this.success = true;
				this.bodyClass(true);

				/*
				setTimeout(function() {
					parent.success = true;
                }, 500);

                setTimeout(function() {
                    parent.success = false;
                }, 4000);
                */
            },
            getRequests() {
                this.$http.get('/requests/ajax').then((response) => {
                    var requests = response.body.requests;
                    this.requests = requests;
                    this.addMapPoints();
                }, (response) => { });
            },
			getRegionColors() {
				this.$http.get('/regions/ajax').then(function(response) {
					this.regionColors = response.body.colors;
				}, function(err) {

				});
			},
            addMapPoints() {
                var i = 0;
                var current_id = false;
                var links = [];

                for (var request in this.requests) {
                    var image = 'pointer_pending_sm.png'

                    if (0 == this.requests[request].status) {
                        image = 'pointer_inactive_sm.png';
                    }
                    if (1 == this.requests[request].status) {
                        image = 'pointer_pending_sm.png';
                    }
                    if (2 == this.requests[request].status) {
                        image = 'pointer_in_progress_sm.png';
                    }
                    if (3 == this.requests[request].status) {
                        image = 'pointer_done_sm.png';
                    }

                    var point = new ymaps.Placemark(this.requests[request].map_point, {}, {
                        iconImageHref: '/images/' + image,
                        iconImageSize: [32, 32],
                        iconImageOffset: [-16, -32]
                    });

                    point.__id = i++;

                    links[point.__id] = this.requests[request].id;

                    var parent = this;

                    if(this.requests[request].status !== 0)
                    {
                        point.events.add('click', function (event) {
                            point = event.get('target');
                            parent.state = 'info';
                            parent.item = point.__id;
							parent.busy = true;
                            parent.currentRequest = links[point.__id];
							parent.bodyClass(true);

							var stateParameters = {  };
							var uri = '/request/' + parent.currentRequest;
							history.pushState(stateParameters, 'Обращение №' + parent.currentRequest, uri);

                            history.pathname = uri;
                        });
                    }

                    this.ymap.geoObjects.add(point);

                    if(this.currentRequest === this.requests[request].id)
                    {
                        current_id = point.__id;
                    }
                }

                /**
                 * If request
                 */
                if(this.currentRequest && current_id)
                {
                    this.state = 'info';
                    this.item = current_id;
                    this.busy = true;
                }
            },
            logout() {
                this.$http.post('/logout').then((response) => {
                    window.location.href = '/';
                });
            },
            closeForm() {
                this.state = null;
                this.item = null;
                this.busy = true;
                this.region = null;
				this.page = null;
				this.bodyClass(false);
				this.point = '';

				if(this.placemark)
				{
					this.ymap.geoObjects.remove(this.placemark);
					this.placemark = null;
				}
            },
			closeSuccessMessage() {
				this.state = null;
				this.item = null;
				this.busy = true;
				this.region = null;
				this.success = false;
			},
            about() {
				this.bodyClass(true);
                this.page = 'about';
            },
            contacts() {
				this.bodyClass(true);
                this.page = 'contacts';
            },
            experts() {
				//this.bodyClass(true);
                this.page = 'experts';
            },
            news() {
				this.bodyClass(true);
                this.page = 'news';
            },
            help() {
				this.bodyClass(true);
				this.page = 'help';
            },
            agreement() {
				this.bodyClass(true);
                this.page = 'agreement';
            },
            showMain() {
				this.bodyClass(false);
                this.page = null;
				this.success = false;
				this.state = null;
            },
			openNews(item) {
				this.page = 'news-show';
				this.newsItem = item;
			},
			openHelps(item) {
				this.page = 'help-show';
				this.helpItem = item;
			},
			updatePoint(val) {
				this.point = val;
                this.updatePlacemark();
            },
            updateAddress(value) {
            	this.address = value;
            },
            updatePlacemark() {
            	if(this.point !== '')
                {
                	var coord = this.point.split(', ');
                	var address;
                	var parent = this;

					ymaps.geocode(coord).then(function (res) {
						var firstGeoObject = res.geoObjects.get(0);
						address = firstGeoObject.properties.get('text').split(', ');
						parent.address = firstGeoObject.properties.get('text').replace('Россия, ', '');

						if(address[1] == parent.region)
						{
							if(parent.placemark)
							{
								//this.ymap.geoObjects.remove(this.placemark);
								parent.placemark.geometry.setCoordinates(coord);
							}
							else
							{
								parent.placemark = new ymaps.Placemark(coord, {}, {
									iconImageHref: '/images/pointer_inactive_sm.png',
									iconImageSize: [32, 32],
									iconImageOffset: [-16, -32]
								});
								parent.ymap.geoObjects.add(parent.placemark);
							}
						}
						else
						{
							parent.placemark = null;
							parent.point = '';
						}
					});
				}
            },
            selectRegionFromList(e) {
                if (this.lastActiveRegion) {
                    this.lastActiveRegion.options.set('preset', {
                        fillColor: this.regionColors[this.lastActiveRegion.properties.get('osmId')].color,
                        opacity: 0.5
                    });

                    if ('Адыгея' == this.region) {
                        this.regions[28].obj.options.set('preset', {
                            fillColor: this.regionColors[this.lastActiveRegion.properties.get('osmId')].color,
                            opacity: 0.5
                        });
                    }

                    if ('Севастополь' == this.region) {
                        this.regions[54].obj.options.set('preset', {
                            fillColor: this.regionColors[this.lastActiveRegion.properties.get('osmId')].color,
                            opacity: 0.5
                        });
                    }

                    if ('Санкт-Петербург' == this.region) {
                        parent.regions[32].obj.options.set('preset', {
                            fillColor: this.regionColors[this.lastActiveRegion.properties.get('osmId')].color,
                            opacity: 0.5
                        });
                    }
                }

                var region = this.regions[e.target.value].obj;
                region.options.set('preset', {
                    fillColor: 'rgba(0,0,0,0)',
                    strokeColor: '4CAF50',
                    strokeWidth: 3
                });

                if ('Адыгея' == this.regions[e.target.value].name) {
                    this.regions[28].obj.options.set('preset', {
                        fillColor: 'rgba(0,0,0,0)'
                    });
                }

                if ('Севастополь' == this.regions[e.target.value].name) {
                    this.regions[54].obj.options.set('preset', {
                        fillColor: 'rgba(0,0,0,0)'
                    });
                }

                if ('Санкт-Петербург' == this.region) {
                    parent.regions[32].obj.options.set('preset', {
                        fillColor: 'rgba(0,0,0,0)'
                    });
                }

                this.lastActiveRegion = region;
                this.ymap.setBounds(region.geometry.getBounds());

                this.state  = 'region';
                this.region = this.regions[e.target.value].name;
            }
        },
        mounted() {
			this.getRegionColors();

            ymaps.ready(init);

            const parent = this;

            this.activeUser = user;
            this.currentRequest = currentRequest;
            this.currentPoint = (currentPoint) ? currentPoint : this.currentPoint;
            this.currentRegion = currentRegion;

            function sortRegions(a, b) {
                return a.name.localeCompare(b.name);
            }

            function init(){
                var points = parent.currentPoint.split(',');
                parent.ymap = new ymaps.Map ("map", {
                    center: [points[0], points[1]],
                    zoom: (parent.currentRequest) ? 10 : 5
                });

                parent.ymap.controls
						.add('zoomControl')
						.add('typeSelector')
						.add('mapTools');

                parent.ymap.behaviors.enable('scrollZoom');

                parent.ymap.events.add('click', function (e) {

                });

                /**
                 * Add request points
                 */
                parent.getRequests();

                ymaps.regions.load('RU', {
                    lang: 'ru',
                    quality: 1
                }).then(function (result) {
                    var regions = result.geoObjects;

                    regions.each(function (reg) {
                        parent.regions.push({ id: reg.properties.get('osmId'), name: reg.properties.get('name'), obj: reg });

						/**
						 * If current request
                         */
                        if(parent.currentRequest && parent.currentRegion == reg.properties.get('name'))
                        {
                            reg.options.set('preset', {
                                fillColor: 'rgba(0,0,0,0)',
                                strokeColor: '4CAF50',
                                strokeWidth: 3
                            });
                        } else {
                            reg.options.set('preset', {
                                fillColor: parent.regionColors[reg.properties.get('osmId')].color,
                                opacity: 0.5
                            });
                        }
                    });

                    parent.regions.sort(sortRegions);

                    regions.events.add('click', function (event) {
                        console.log('clliiiick')
                        var target = event.get('target');

                        if(!parent.region)
                        {
                        	parent.region = target.properties.get('name');
                        }

                        if ('form' == parent.state) {
                            if (parent.busy) {
                                return false;
                            }

                            if (null !== parent.placemark) {
                                parent.ymap.geoObjects.remove(parent.placemark);
                            }

                            if(parent.region == target.properties.get('name'))
                            {
								parent.placemark = new ymaps.Placemark(event.get('coordPosition'), {}, {
									iconImageHref: '/images/pointer_inactive_sm.png',
									iconImageSize: [32, 32],
									iconImageOffset: [-16, -32]
								});
								parent.ymap.geoObjects.add(parent.placemark);

								var coord = parent.placemark.geometry.getCoordinates();
								parent.point = coord[0]+', '+coord[1];

								ymaps.geocode(coord).then(function (res) {
									var firstGeoObject = res.geoObjects.get(0);
									parent.address = firstGeoObject.properties.get('text').replace('Россия, ', '');
								});
                            } else {
								parent.placemark = null;
								parent.point = '';
                            }
                            return;
                        }

                        if (parent.lastActiveRegion) {
                            parent.lastActiveRegion.options.set('preset', {
                                fillColor: parent.regionColors[parent.lastActiveRegion.properties.get('osmId')].color,
                                opacity: 0.5
                            });

                            if ('Адыгея' == parent.region) {
                                parent.regions[28].obj.options.set('preset', {
                                    fillColor: parent.regionColors[parent.lastActiveRegion.properties.get('osmId')].color,
                                    opacity: 0.5
                                });
                            }

                            if ('Севастополь' == parent.region) {
                                parent.regions[54].obj.options.set('preset', {
                                    fillColor: parent.regionColors[parent.lastActiveRegion.properties.get('osmId')].color,
                                    opacity: 0.5
                                });
                            }

                            if ('Санкт-Петербург' == parent.region) {
                                parent.regions[32].obj.options.set('preset', {
                                    fillColor: parent.regionColors[parent.lastActiveRegion.properties.get('osmId')].color,
                                    opacity: 0.5
                                });
                            }
                        }

                        parent.lastActiveRegion = target;
                        parent.lastActiveRegion.options.set('preset', {
                            fillColor: 'rgba(0,0,0,0)',
                            strokeColor: '4CAF50',
                            strokeWidth: 3
                        });

                        if ('Адыгея' == target.properties.get('name')) {
                            parent.regions[28].obj.options.set('preset', {
                                fillColor: 'rgba(0,0,0,0)'
                            });
                        }

                        if ('Севастополь' == target.properties.get('name')) {
                            parent.regions[54].obj.options.set('preset', {
                                fillColor: 'rgba(0,0,0,0)'
                            });
                        }

                        if ('Санкт-Петербург' == target.properties.get('name')) {
                            parent.regions[32].obj.options.set('preset', {
                                fillColor: 'rgba(0,0,0,0)'
                            });
                        }

                        var coord = event.get('coordPosition');
                        parent.ymap.setCenter(coord);

                        parent.state = 'region';
                        parent.region = target.properties.get('name');

						var stateParameters = {  };
						var uri = '/';
						history.pushState(stateParameters, 'Интерактивная карта свалок', uri);
						history.pathname = uri;
                    });

                    parent.ymap.geoObjects.add(regions);
                }, function () {

                });
            }
        }
    }
</script>
