<template>
	<div class="page">
		<a href="#" class="close" @click.prevent="showMain" ></a>

		<h1 style="text-align: center; margin: 0 0 1em;" v-html="item.name"></h1>

		<div style="text-align: center;"><a href="#" @click.prevent="showHelps" style="font-size: .9em; margin-bottom: 2em; display: block;">Вернуться к инструкциям</a></div>

		<div class="news" v-html="item.text"></div>
	</div>
</template>

<script>
	export default {
		props: {
			item: {}
		},
		methods: {
			showMain() {
				this.$emit('show-main');
			},
			showHelps() {
				this.$emit('show-helps');
			}
		},
	}
</script>
