<template>
    <div>
        <div class="form__fields">
            <text-block placeholder="Тема"
                        v-model="fields.subject.value"
                        :error="fields.subject.error"
                        :valid="fields.subject.valid"
						v-on:input-trigger="updateSubject"></text-block>

            <text-block placeholder="Адрес обнаружения проблемы"
                        v-model="m_address"
                        :error="fields.address.error"
                        :valid="fields.address.valid"
						v-on:input-trigger="updateAddress"
			></text-block>

            <transition name="slide-down" mode="out-in">
                <div v-if="!placemark" class="text-info" style="margin-bottom: 1em;"><i class="material-icons">info outline</i> Укажите место на карте</div>
                <div v-if="placemark" class="text-success" style="margin-bottom: 1em;"><i class="material-icons">done</i> Место указано</div>
            </transition>

			<div class="form-group">
				<input type="text" v-model="m_point" class="geo-input" v-on:blur="updatePoint" @keyup.enter="updatePoint">
			</div>

            <textarea-block placeholder="Описание жалобы"
                            v-model="fields.description.value"
                            :error="fields.description.error"
                            :valid="fields.description.valid"></textarea-block>

            <file-block label="Фото и/или видео" hint="Несколько файлов, не более 50 Мб"
                        v-model="fields.photo.value"
                        :error="fields.photo.error"
                        :valid="fields.photo.valid"
                        @change-file="fileChange"
						@delete-image="deleteImage"
						:images="images"
                        multiple="true"></file-block>

			<text-block placeholder="Ссылка на YouTube"
						v-model="fields.youtube.value"
						:error="fields.youtube.error"
						:valid="fields.youtube.valid"
						v-on:input-trigger="updateYoutube"></text-block>

            <div class="form__header">Контактная информация</div>
            <text-block placeholder="Ваше ФИО" hint="Видны только администрации сайта"
                        v-model="fields.name.value"
                        :error="fields.name.error"
                        :valid="fields.name.valid"
						v-on:input-trigger="updateName"></text-block>

            <text-block placeholder="Номер телефона"
                        v-model="fields.phone.value"
                        :error="fields.phone.error"
                        :valid="fields.phone.valid"
                        hint="Контакты нужны для оповещения о статусе вашей заявки"
						v-on:input-trigger="updatePhone"></text-block>

            <email-block placeholder="Email"
                        v-model="fields.email.value"
                        :error="fields.email.error"
                        :valid="fields.email.valid"></email-block>

			<checkbox-block placeholder="Пользовательское соглашение" agree="true" id="ch-agree"
						v-model="fields.agree.value"
						:error="fields.agree.error"
						:valid="fields.agree.valid"
						@change-file="fileChange"
						v-on:show-agreement="agreement"></checkbox-block>

			<checkbox-block placeholder="Участие в ликвидации" participate="true" id="ch-participate"
						v-model="fields.participate.value"
						:error="fields.participate.error"
						:valid="fields.participate.valid"
						@change-file="fileChange"></checkbox-block>
        </div>

        <a href="#" class="btn btn-primary" v-on:click.prevent="submit">Сообщить о нарушении</a>
        <a href="#" class="btn btn-secondary" v-on:click.prevent="hideForm">Отмена</a>
    </div>
</template>

<script>
    export default {
        props: {
            placemark: {},
			point: '',
			address: ''
        },
        data() {
            return {
                loading: false,
                file: null,
                fields: {
                    subject: {
                        value: '',
                        valid: null,
                        error: null,
                    },
                    description: {
                        value: '',
                        valid: null,
                        error: null,
                    },
                    map_point: {
                        value: '',
                        valid: null,
                        error: null,
                    },
                    address: {
                        value: this.address,
                        valid: null,
                        error: null,
                    },
                    photo: {
                        value: '',
                        valid: null,
                        error: null,
                    },
                    name: {
                        value: '',
                        valid: null,
                        error: null,
                    },
                    email: {
                        value: '',
                        valid: null,
                        error: null,
                    },
                    phone: {
                        value: '',
                        valid: null,
                        error: null,
                    },
					agree: {
						value: '',
						valid: null,
						error: null,
					},
					participate: {
						value: '',
						valid: null,
						error: null,
					},
					youtube: {
						value: '',
						valid: null,
						error: null
					}
                },
				files: [],
				images: []
			}
        },
		computed: {
			m_point: function() {
				return this.point;
			},
			m_address: function () {
				return this.address;
			}
		},
        methods: {
            hideForm() {
                this.$emit('close-form');
            },
			agreement() {
				this.$emit('show-agreement');
			},
			setLoading(loading_status){
            	this.$emit('set-loading', loading_status);
			},
			updatePoint(event) {
				this.$emit('update-point', event.target.value);
			},
			updateSubject(value) {
				this.fields.subject.value = value;
			},
			updateYoutube(value) {
				this.fields.youtube.value = value;
			},
			updateName(value) {
				this.fields.name.value = value;
			},
			updatePhone(value) {
				this.fields.phone.value = value;
			},
			updateAddress(value) {
				this.$emit('update-address', value);
			},
            fileChange(value) {
				/**
				 * File
				 */
				if(value.target.getAttribute('type') === 'file')
				{
					var files = value.target.files || value.dataTransfer.files;
					if (!files.length) {
						return;
					}

					for(var file in files){
						this.createImage(files[file]);
					}
				}
				/**
				 * Checkbox
				 */
				else if(value.target.getAttribute('type') === 'checkbox')
				{
					var field_name = value.target.getAttribute('id').replace('ch-', '');
					this.fields[field_name].value = (value.target.checked) ? 1 : '';
				}
            },
			createImage(file) {
				this.images.push({ src: window.URL.createObjectURL(file) });
				this.files.push(file);
			},
			deleteImage(e) {
				this.images.splice(e.target.getAttribute('data-id'), 1);
				this.files.splice(e.target.getAttribute('data-id'), 1);
			},
            submit: function() {
				this.setLoading(true);
                this.clearErrors();

                var formData = new FormData();
                formData.append('subject', this.fields.subject.value);
                formData.append('description', this.fields.description.value);
                formData.append('address', this.address);

                for (var file in this.files) {
                    formData.append('photo[]', this.files[file]);
                }

                formData.append('name', this.fields.name.value);
                formData.append('phone', this.fields.phone.value);
                formData.append('email', this.fields.email.value);
				formData.append('youtube', this.fields.youtube.value);
                formData.append('region_name', this.$parent.region);
				formData.append('agree', this.fields.agree.value);
				formData.append('participate', this.fields.participate.value);

                if (null !== this.placemark) {
                    formData.append('map_point', this.placemark.geometry.getCoordinates());
                }

                this.$http.post('/requests', formData).then((response) => {
                    var response = response.body;

                    if (response.status == 'ok') {
                        this.$emit('success', response.request_id);
						this.setLoading(false);
                    }
                }, (response) => {
                    for (var field in this.fields) {
                        if (field in response.body.errors) {
                            this.fields[field].valid = false;
                            this.fields[field].error = response.body.errors[field][0];
                        } else {
                            this.fields[field].valid = true;
                            this.fields[field].error = null;
                        }
                    }
					this.setLoading(true);
                });
            },
            clearErrors: function() {
                for (var field in this.fields) {
                    this.fields[field].valid = true;
                    this.fields[field].error = null;
                }
            }
        }
    }
</script>