<template>
    <div>
        <p class="status small text-danger" v-if="isStatusPending()">
            <i class="fa fa-info-circle" aria-hidden="true"></i> Обращение находится в стадии рассмотрения
        </p>

        <p class="status small text-warning" v-if="isStatusDelivered()">
            <i class="fa fa-hourglass" aria-hidden="true"></i> В работе
        </p>

        <p class="status small text-success" v-if="isStatusInProgress()">
            <i class="fa fa-check" aria-hidden="true"></i> Проблема решена
        </p>

        <p v-if="$parent.requests[item].comment" style="margin: 1em 0 5px;white-space: pre-line;">
            <i>{{ $parent.requests[item].comment }}</i><br>

            <div class="request-gallery request-info">
                <div class="gallery-image" v-for="photo in $parent.requests[this.item].photo_admin">
                    <a :href="photo" rel="gallery_admin" class="fancybox"><img :src="photo" style="max-width: 100%;"></a>
                </div>
            </div>

            <span class="info__note info__note--time"><i class="fa fa-clock-o"></i> {{ $parent.requests[item].updated_at|moment('DD.MM.YYYY') }}</span>
        </p>

        <div class="info">
            <p class="info__header">
                {{ $parent.requests[item].subject }}
            </p>

            <p class="info__description">
                {{ $parent.requests[item].description }}
            </p>

            <p class="info__note">
                <i class="fa fa-map-marker"></i> {{ $parent.requests[item].address }}
            </p>
        </div>

        <div class="request-gallery request-info">
            <div class="gallery-image" v-for="photo in $parent.requests[this.item].photo">
                <a :href="photo" rel="gallery" class="fancybox"><img :src="photo" style="max-width: 100%;"></a>
            </div>
        </div>

        <div v-if="hasVideo()">
            <a :href="hasVideo()" class="various fancybox.iframe">Видео на YouTube</a>
        </div>

        <div style="margin-top: 2em; margin-bottom: 1.5em;">
            <input type="text" :value="link()" class="lnk-input" id="lnk-field">
            <button class="btn btn-primary lnk-copy" @click="copyLink">Скопировать</button>
            <div class="copy-hint" :class="{ active: isCopied }"><small>Ссылка скопирована в буфер обмена</small></div>
        </div>
        <a href="#" class="btn btn-primary" v-on:click.prevent="hideForm" >Закрыть</a>
    </div>
</template>

<script>
    export default {
        props: {
            item: {},
            isCopied: false
        },
        methods: {
            isStatusPending() {
                return 1 == parseInt(this.$parent.requests[this.item].status);
            },
            isStatusDelivered() {
                return 2 == parseInt(this.$parent.requests[this.item].status);
            },
            isStatusInProgress() {
                return 3 == parseInt(this.$parent.requests[this.item].status);
            },
            getImage() {
                return this.$parent.requests[this.item].photo ? this.$parent.requests[this.item].photo : false;
            },
            hideForm() {
                this.$emit('close-form');
            },
            open (e) {
              fancyBox(e.target, this.imageList);
            },
            link() {
                return 'http://'+ window.location.hostname +'/request/'+this.$parent.requests[this.item].id
            },
            hasVideo() {
                return this.$parent.requests[this.item].youtube ? 'http://www.youtube.com/embed/'+this.$parent.requests[this.item].youtube+'?autoplay=1' : false;
            },
            copyLink() {
                document.getElementById('lnk-field').select();
                document.execCommand('copy');
                this.isCopied = true;
            }
        }
    }
</script>