// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');

// Variables
@import "variables";
@import "loader";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

.text-info {
  color: $brand-info;
}

.text-danger {
  color: $brand-danger;
}

.text-success {
  color: $brand-success;
}

.text-warning {
  color: #FFC107;
}

html, body {
  min-height: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.body {
  background: #fff;
  padding: 1.5em;
}

.navigation {
  padding: 0;
  margin: .5em 0 0;
  list-style: none;

  li {
    margin: 0;
    list-style: none;
    display: block;
    padding: .5em 0;
  }

  i {
    display: block;
    margin-bottom: .25em;
    font-style: normal;
  }

  ul {
    padding: 0;
    margin-left: 1em;
    font-size: .8em;
    list-style: none;

    li {

    }
  }
}

h1 {
  margin: 0 0 .5em;
}

label {
  font-weight: normal;
}

.status {
  font-size: 1em;

  i {
    position: relative;
    margin-right: .5em;
  }
}

.reg-colors {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reg-colors li {
  width: 20px;
  height: 20px;
  margin: 0 10px 0 0;
  padding: 0;
  display: inline-block;
  cursor: pointer;
  border: 2px solid transparent;
  display: inline-block;
  border-radius: 50%;
}

.reg-colors li.active {
  border: 2px solid #000;
}

.reg-colors .reg-green {
  background: #E6EE9C;
}

.reg-colors .reg-orange {
  background: #FFA93F;
}

.reg-colors .reg-red {
  background: #EF0000;
}

.reg-colors .reg-green2 {
  background: #5dbc7c;
}

#request-photos, .uploaded-photos {
  overflow: hidden;
}

div.uploaded-photo {
  float: left;
  margin: 0 20px 20px 0;
  transition: all ease-out 0.2s;
}

.uploaded-photo .preview {
  height: 78px;
  overflow: hidden;
  display: block;
  margin-bottom: 5px;
}

.preview img {
  width: 130px;
}

.req-file-input {
  position: relative;
}

#req-files {
  position: absolute;
  opacity: 0;
}

.requset-photos {
  overflow: hidden;

  .photo {
    float: left;
    margin: 0 20px 20px 0;

    a {
      margin-bottom: 5px;
      display: block;
    }
  }
}

