<template>
    <input-block
            type="checkbox"
            :id="id"
            :placeholder="placeholder"
            :valid="valid"
            :ghost="ghost"
            :error="error"
            :value="value"
            :agree="agree"
            :participate="participate"
            class=""
            v-on:input-trigger="inputTrigger"
            v-on:send-event="send"
            v-on:change-file="change"
            v-on:show-agreement="agreement"
    ></input-block>
</template>

<script>
    const input = require('./Input.vue');

    export default {
        extends: input,
        methods: {
            change(e) {
                this.$emit('change-file', e);
            },
            agreement() {
                this.$emit('show-agreement');
            }
        }
    }
</script>