<template>
    <div class="form-group" :class="getValidationClass()">
        <label :for="id" v-if="label">{{ label }}</label>
        <div class="request-gallery" v-if="type === 'file'">
            <div class="gallery-image" v-for="image in images">
                <img :src="image.src">
                <button @click="deleteImage" :data-id="image.id">&times;</button>
            </div>
        </div>
        <div class="form-control__container">
            <input :type="type"
                   :class="classname"
                   :id="id"
                   aria-describedby="emailHelp"
                   :placeholder="placeholder"
                   :value="value"
                   v-on:input="updateValue($event.target.value)"
                   @keyup.enter="send"
                   v-on:change="change"
                   multiple="multiple"
            >
            <label for="ch-agree" class="request-agree" v-if="agree">
                Я принимаю условия <a @click.prevent="agreement" href="#">Пользовательского соглашения</a>
            </label>
            <label for="ch-participate" class="request-agree" v-if="participate">
                Я хочу поучаствовать в ликвидации экологического нарушения
            </label>
        </div>

        <div class="form-control__error" v-if="!hideHelpers">
            <transition name="slide-down">
                <small class="form-text text-danger" v-if="error">{{ error }}</small>
                <small class="form-text text-muted" v-if="hint">{{ hint }}</small>
            </transition>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            id: {
                default: ''
            },
            type: {
                default: ''
            },
            valid: {
                default: null
            },
            error: {
                default: null
            },
            ghost: {
                default: false
            },
            label: {
                default: ''
            },
            placeholder: {
                default: ''
            },
            value: { },
            multiple: {
                default: false
            },
            hint: {
                default: ''
            },
            hideHelpers: {
                default: false
            },
            images: {
                default: null
            },
            agree: {
                default: false
            },
            participate: {
                default: false
            },
            classname: {
                default: ''
            }
        },
        methods: {
            isValid: function() {
                return this.showValidationStatus() && this.valid;
            },
            showValidationStatus() {
                return ! _.isNull(this.valid);
            },
            getValidationClass: function() {
                return true === this.valid ? 'has-success' : false === this.valid ? 'has-error' : '';
            },
            updateValue: function (value) {
                this.$emit('input-trigger', value);
            },
            inputTrigger: function (value) {
                this.$emit('input', value);
            },
            send: function () {
                this.$emit('send-event');
            },
            change: function(e) {
                this.$emit('change-file', e);
            },
            deleteImage: function(e) {
                this.$emit('delete-image', e);
            },
            agreement: function(){
                this.$emit('show-agreement');
            }
        }
    }
</script>