<template>
    <input-block
            type="text"
            :id="id"
            :label="label"
            :placeholder="placeholder"
            :hint="hint"
            :valid="valid"
            :ghost="ghost"
            :value="value"
            :error="error"
            classname="form-control"
            v-on:input-trigger="inputTrigger"
            v-on:send-event="send"
            :hideHelpers="hideHelpers"
    ></input-block>
</template>

<script>
    const input = require('./Input.vue');

    export default {
        extends: input,
        methods: {
        	inputTrigger: function(value){
				this.$emit('input-trigger', value);
			}
        }
    }
</script>